section-holder {
  width: 300px;
  height: 300px;
}

login-page section-holder {
  width: 300px;
  height: 400px;
}

start-page .md-button,
login-page .md-button {
  display: block;
  min-width: 100%;
  max-width: 100%;
  margin: 10px 0px;
}


