.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.block {
  display: block;
}

.full-width {
  width: 100%;
}

.text-align-left {
  text-align: left;
}

.h-center {
  margin: auto;
}
 
::-webkit-scrollbar { 
  display: none; 
}

.std-padding {
  padding: 15px;
}

.no-top-padding {
  padding-top: 0;
}

.no-bottom-padding {
  padding-bottom: 0;
}

.logo
{
  margin: 15px auto 15px auto;
}

.header {

}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
}

.main-menu-item {
  line-height: 40px;
  max-height: 40px;
  padding: 0px 16px;
  text-transform: none;
}

.main-menu-button {
  background: url("../img/list26white.svg") center center no-repeat;
  background-size: 25px;
  width: 25px;
  height: 25px;
  margin-right: 6px;
}

.back-button {
  background: url("../img/arrow395white.svg") no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  margin-right: 6px;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.hidden {
  display: none;
}

.transparent {
  background: transparent;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

login-page:before {
  content: ""; 
  background: url("../img/malaysian-invasion.jpg") 40% 40%;
  background-size: cover;
  filter: grayscale(0.5) blur(0.5px);
  -webkit-filter: grayscale(0.5) blur(0.5px);
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
}

start-page:before {
  content: ""; 
  background: url("../img/tongpakfu-paradigm-mall.jpg") 40% 40%;
  background-size: cover;
  filter: brightness(0.9) blur(20px);
  -webkit-filter: brightness(0.9) blur(20px);
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
}

/*
login-page section-holder:before {
  content: "";
  display: block;
  background: white;
  opacity: 0.1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
*/

login-page section-holder,
start-page section-holder {
  width: 100%;
  height: 100%;
}

login-page center-holder,
start-page center-holder {
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1;
  width: 100%;
}

start-page .md-button,
login-page .md-button {
  display: block;
  min-width: 100%;
  max-width: 100%;
  margin: 10px 0px;
}

.table {
  display: table;
}

.table-cell {
  display: table-cell;
}

.vertical-center {
  vertical-align: center;
}


