[absolute-center] {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

[flex-centered] {
  display: flex;
  align-items: center;
  justify-content: center;
}

[block] {
  display: block;
}

[h-center] {
  margin: auto;
}
 
::-webkit-scrollbar { 
    display: none; 
}
