<directory-page>
  <md-content class="std-padding no-top-padding no-bottom-padding">
    <md-input-group>
      <md-input type="text" placeholder="search" ng-model="directory.search" name="search"></md-input>
    </md-input-group>
  </md-content>
  <iframe class="" width="100%" height="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyBqmT8oouS5ECWkzLKwvGtqmydmkSqacSQ&origin=Petaling+Jaya&destination=Megamall&avoid=tolls|highways"></iframe>
</directory-page>
