<start-page>
  <section-holder class="absolute-center block table">
    <center-holder class="table-cell full-width vertical-center">
      <start-question class="block">
	What would you like your default home screen to display?
      </start-question>
      <md-content>
	<md-button class="md-raised md-primary" ng-click="startChoice('whats-happening')">What's Happening</md-button>
	<md-button class="md-raised md-primary" ng-click="startChoice('directory')">Directory</md-button>
      </md-content>
    </center-holder>
  </section-holder>
</start-page>
