<start-page>
  <section-holder absolute-center block>
    <img block src="img/paradigm-mall-logo.png">
    <md-button class="md-raised md-primary" href="#/login">Login</md-button>
    <md-button class="md-raised md-primary" href="#/home">Skip</md-button>
    <md-button class="md-raised md-primary" href="#/transactions">Transactions</md-button>
    <md-button class="md-raised md-primary" href="#/whats-happening">What's Happening?</md-button>
    <md-button class="md-raised md-primary" href="#/qr">qr</md-button>
    <md-button class="md-raised md-primary" href="#/directory">Directory</md-button>
    <md-button class="md-raised md-primary" href="#/center-info">Center Info</md-button>
    <md-button class="md-raised md-primary" href="#/splashscreen">Splashscreen</md-button>
  </section-holder>
</start-page>

